<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>livros</title>
</head>
<body>
  <h1> Olá Administrador, seja bem-vindo a página de cadastro de livros </h1>
      <div class="liv">
     <form action="/cadlivro" method="post">
            <input type="text" name="nomelivro" placeholder="Nome Livro">
            <br>
            <br>
            <input type="text" name="autor" placeholder="Autor">
            <br>
            <br>

            <br>
            <br>
            <button type="submit"> Adicionar </button>
        </form>
          </div>
</body>
</html>