<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
    <link rel="stylesheet" href="../../static/pagiframe.css">
</head>
   <body>
    <h1>Página Admin</h1>
       <div class="livros">
           <a href = "/cadlivros" target="iframeadmin"> <button>Cadastrar novo livro</button> </a>

           <a href = "/removlivros" target="iframeadmin"> <button>Remover livro </button></a>

           <a href = "/listalivros" target="iframeadmin"> <button> Listar livros</button> </a>
       </div>
    <iframe name="iframeadmin" src="" width="70%" height="400px"></iframe>
   <p>{{mensagem}}</p>
   </body>
</html>