<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
    <link rel="stylesheet" href="../static/cadlivros.css">
</head>
   <body>
       <div class="livros">
           <form action="/adicionar" method="post">
               <input type="text" name="nomeLivro" placeholder="Nome do livro ">
               <br>
               <br>
               <input type="text" name="descricao" placeholder="Descrição do livro">
               <br>
               <br>
               <input type="text" name="autor" placeholder="Nome do autor">
               <br>
               <br>
               <button type="submit"> Cadastrar </button>
           </form>

   </body>
</html>